*{
  padding: 0;
  margin: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
nav{
  display: flex;
  background-color: #000;
  padding: 20px;
}
nav ul{
  display: flex;
  width: 100%;
  list-style: none;
  align-items: center;
  justify-content: space-between;
}
li{
  position: relative;
  text-transform: capitalize;
  cursor: pointer;
}
a{
  text-decoration: none;  
  color: #fff;
  transition: color 0.5s ease-out;
}
nav li:hover a{
  color: #9b50cc;  
}
.nav-link::before{
  content: "";
  position: absolute;
  width: 0;
  bottom: 0;
  height: 2px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #9b50cc;
  visibility: hidden;
  transition: all 0.3s ease-in-out 0s;
}
.nav-link:hover::before{
  visibility: visible;
  width: 100%;
}


